@page
@model Assignment1Attempt4.Areas.Identity.Pages.ProfClasses.DashboardCardsModel
@{
    ViewData["Title"] = "ProfCards";
	Layout = "/Views/Shared/_Layout.cshtml";    
}


<h1>Professor Class List</h1>

@foreach (var item in Model.Classes)
{
    <div class="prof-dashboard-card text-center">
           <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Location: @Html.DisplayFor(modelItem => item.Location)
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Time: @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                    </h6>
                </div>
                <div>
                    <a asp-page="./ProfClassPage" asp-route-id="@item.ID">Take me to Class</a>
                </div>
           </div>
    </div> 
    <br>
}