@page
@model Assignment1Attempt4.Areas.Identity.Pages.Student.StudentCardsModel
@{
    ViewData["Title"] = "StudentCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .rightside-list-header{
        color: seagreen;
    }

    .rightside-list {
        width: auto;
        position: fixed;
        z-index: 1;
        top: 70px;
        right: 10px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }
</style>


@foreach (var item in Model.Classes)
{
    <div class="prof-dashboard-card text-center">
           <div class="card" style="width: 18rem;">
               <div class="card-header">
                   <h5 class="card-title">
                       Class: @Html.DisplayFor(modelItem => item.ClassName)
                   </h5>
               </div>
               <div class="card-body">
                   <h6 class="card-subtitle mb-2 text-body-secondary">
                       Class Location: @Html.DisplayFor(modelItem => item.Location)
                   </h6>
                   <h6 class="card-subtitle mb-2 text-body-secondary">
                       Class Time: @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                   </h6>
               </div>
               <div>
                   <a asp-page="./StudentClassPage" asp-route-id="@item.ID">Take me to Class</a>
               </div>
           </div>
    </div> 
    <br>
}

<div class="rightside-list">
    <h4 class="rightside-list-header">Top 5 Prioties: Assignments</h4>
    <div class="assignment-todo-list-dashboard-sidebar">
        @foreach (var item in Model.Assignments)
        {
            <div class="assignment-todo-list-card">
                <div class="card-header">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.AssignmentName)
                    </h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        Due Date: @Html.DisplayFor(modelItem => item.DueDate) <br>
                        Type: @Html.DisplayFor(modelItem => item.AssignmentType)
                    </h6>
                </div>
            </div>
        }
    </div>
</div>