@page
@model Assignment1Attempt4.Areas.Identity.Pages.Student.StudentHomeModel
@{
    ViewData["Title"] = "StudentHome";
    <!--  _Layout.cshtml used a few css sheets including bootstrap -->
}
<!--  This class is for testing CSS for StudentCards.cshtml -->
<!--  Once it's perfected, the CSS will be moved to StudentCards.cshtml -->
<!--  And this class will be deleted. Happy programming :) -->
<link rel="stylesheet" href="~/css/StudentCards.css"/>

<h3 class="card-title">
    StudentHome, this is Xavier's CSS Playground Booooiiiiiisssss
</h3>

@foreach (var item in Model.Classes)
{
    <div class="prof-dashboard-card text-center">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Class: @Html.DisplayFor(modelItem => item.ClassName)
                </h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Class Location: @Html.DisplayFor(modelItem => item.Location)
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Class Time: @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)
                </h6>
            </div>
        </div>
    </div>
    <br>
}

<div>
    <p>User ID: @ViewData["UserID"]</p>
    <p>Full Name: @ViewData["FirstName"] @ViewData["LastName"]</p>


    <div>
        <h4 align="center">Current Pages</h4>

        <div align="left">
            <h4>/Account/Manage</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/Account/Manage" target="_blank">Account Manage Index</a></li>
            </ul>
        </div>

        <div align="left">
            <h4>Calender</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/Calendar/Calendar" target="_blank">Calendar</a></li>
            </ul>
        </div>

        <div align="left">
            <h4>ProfilePage</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/ProfileTestPage/Profile" target="_blank">Profile Homepage</a></li>
            </ul>
        </div>

        <div align="left">
            <h4>Student</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/Student/RegisterForClass" target="_blank">Register for Class</a></li>
            </ul>
        </div>

        <div align="left">
            <h4>Upload Page</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/UploadPage/Upload" target="_blank">Upload Page</a></li>
            </ul>
        </div>

        <div align="left">
            <h4>User Management</h4>
            <ul>
                <li><a href="https://localhost:7177/Identity/UserManagement/UserInfoEdit" target="_blank">User Account Management Details - Needs c# to be functional</a></li>
            </ul>
        </div>
    </div>
</div>





</div>
