@page
@model Assignment1Attempt4.Areas.Identity.Pages.AssignmentUpload.AssignmentUploadModel
@using System.IO
@{
    var firstName = HttpContext.Session.GetString("CurrentFName");
    var lastName = HttpContext.Session.GetString("CurrentLName");
    var stuOrProf = HttpContext.Session.GetString("StuOrProf");
    var submissionsDirectory = Directory.GetCurrentDirectory() + "/wwwroot/submissions";
    var filesInSubmissions = Directory.GetFiles(submissionsDirectory);
}

<p>First Name: @firstName</p>
<p>Last Name: @lastName</p>
<p>User Type: @stuOrProf</p>

<h1>@ViewData["Title"]</h1>

@if (stuOrProf == "Student")
{
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="textFile">Upload Text File:</label>
            <input type="file" class="form-control-file" id="textFile" name="textFile">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.TextFilePath))
    {
        <h2>Uploaded Text File:</h2>
        <a href="@Model.TextFilePath" download>Download Text File</a>
    }
}
else if (stuOrProf == "Professor")
{
    <h2>List of Files in Submissions Directory:</h2>
    <ul>
        @foreach (var filePath in filesInSubmissions)
        {
            var parts = filePath.Split('/');
            var fileName = parts[parts.Length - 1];
            <li>
                <a href="/submissions/@fileName" download>@fileName</a>
            </li>
        }
    </ul>
}

<div>
    <a href="/Identity/ProfileTestPage/Profile">Go to Profile Page</a>
</div>
